<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>gmBestScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {92, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{92, 88}</string>
			<key>spriteSourceSize</key>
			<string>{104, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{69, 325}, {92, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmContinue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {100, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 124}</string>
			<key>spriteSourceSize</key>
			<string>{120, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {100, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmDetails_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {68, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{68, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{773, 226}, {68, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmDetails_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {68, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{68, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 226}, {68, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmDetails_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {68, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{68, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 325}, {68, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmDetails_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {68, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{68, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 325}, {68, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmDetails_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {68, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{68, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 226}, {68, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmDetails_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {68, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{68, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{911, 226}, {68, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmDetails_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {68, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{68, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{704, 226}, {68, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmImprovedResult.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {96, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 92}</string>
			<key>spriteSourceSize</key>
			<string>{104, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421, 226}, {96, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTableCleared.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {194, 20}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{194, 20}</string>
			<key>spriteSourceSize</key>
			<string>{196, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 414}, {194, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {8, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 453}, {8, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {24, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{24, 14}</string>
			<key>spriteSourceSize</key>
			<string>{24, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 453}, {24, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 453}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {16, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{16, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 453}, {16, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{17, 453}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 453}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 453}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {12, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{12, 14}</string>
			<key>spriteSourceSize</key>
			<string>{12, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{213, 453}, {12, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{251, 453}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTable_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{275, 453}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTilehall_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 20}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{86, 20}</string>
			<key>spriteSourceSize</key>
			<string>{88, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{932, 414}, {86, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTilehall_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 20}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{94, 20}</string>
			<key>spriteSourceSize</key>
			<string>{96, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{837, 414}, {94, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTilehall_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 20}</string>
			<key>spriteSourceSize</key>
			<string>{96, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 414}, {96, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTilehall_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 20}</string>
			<key>spriteSourceSize</key>
			<string>{94, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 414}, {94, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTilehall_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 20}</string>
			<key>spriteSourceSize</key>
			<string>{94, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 414}, {94, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmLabelTimeoutMenu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {180, 14}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{180, 14}</string>
			<key>spriteSourceSize</key>
			<string>{184, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 453}, {180, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmMenu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 2}, {64, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{64, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{725, 325}, {64, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmNext.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 2}, {64, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{64, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{557, 325}, {64, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmPause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 20}, {20, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 24}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 414}, {20, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmPaused.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 2}, {420, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{420, 98}</string>
			<key>spriteSourceSize</key>
			<string>{508, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 226}, {420, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmPlay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {100, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{100, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{101, 0}, {100, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmPrevious.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 325}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmRank_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{100, 0}, {400, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 100}</string>
			<key>spriteSourceSize</key>
			<string>{600, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 125}, {400, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmRank_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 0}, {464, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{464, 100}</string>
			<key>spriteSourceSize</key>
			<string>{600, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {464, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmRank_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {552, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{552, 100}</string>
			<key>spriteSourceSize</key>
			<string>{600, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{401, 125}, {552, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmRanks.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 20}, {28, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{28, 26}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 414}, {28, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmReset.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 20}, {30, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 24}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 414}, {30, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmRestart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 2}, {78, 84}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{78, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 325}, {78, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmRetry.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {116, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{116, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{587, 226}, {116, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 20}</string>
			<key>spriteSourceSize</key>
			<string>{72, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 414}, {72, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmSkip.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {102, 84}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{102, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 325}, {102, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmSmallRank_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 325}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmSmallRank_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 44}</string>
			<key>spriteSourceSize</key>
			<string>{84, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{857, 325}, {84, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmSmallRank_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {102, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{102, 38}</string>
			<key>spriteSourceSize</key>
			<string>{102, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 414}, {102, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmTableRecord.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 2}, {74, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{74, 88}</string>
			<key>spriteSourceSize</key>
			<string>{104, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 325}, {74, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmTile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{816, 414}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmTileX.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 414}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmTimeout.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 24}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{215, 414}, {24, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmTweet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 2}, {80, 84}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{80, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 325}, {80, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gmUndo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {30, 24}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{30, 24}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 414}, {30, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>GameMenu_sk-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>GameMenu_sk-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>